.container {
  margin: 66px auto;
  width: 1150px;
  height: 256px;
  background-color: #333333;
  @media (max-width: 1024px) {
    width: 1000px;
    margin-left: 20px;
  }
  @media (max-width: 768px) {
    width: 747px;
  }
  @media (max-width: 425px) {
    margin-left: 40px;
    height: 100%;
    width: 350px;
  }
}

.Wrapper {
  display: flex;
  @media (max-width: 768px) {
    width: 200px;
  }
  @media (max-width: 425px) {
    display: block;
    text-align: center;
    padding-left: 60px;
  }
}

.block1 {
  padding: 33px 0 0 23px;
  @media (max-width: 425px) {
    margin: 0 0 0 180px;
  }
}

.block2 {
  padding: 33px 0 0 230px;
  @media (max-width: 768px) {
    margin: 0 0 0 -30px;
  }
}

.block3 {
  padding: 33px 0 0 200px;
  @media (max-width: 768px) {
    width: 100px;
    margin: 0 0 0 -140px;
  }
  @media (max-width: 425px) {
    margin: -10px 0 0 0px;
  }
}

h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  @media (max-width: 425px) {
    margin-left: -160px;
  }
}

h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  @media (max-width: 425px) {
    margin-left: -160px;
  }
}

h3 {
  width: 70px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  @media (max-width: 425px) {
    margin-left: -115px;
  }
}

ul {
  margin-top: 10px;
  @media (max-width: 768px) {
    width: 150px;
  }
  @media (max-width: 425px) {
    margin-left: -130px;
  }
}

li {
  width: 110px;
  cursor: pointer;
  padding-top: 8px;
  color: #999999;
  font-weight: 600;
  font-style: normal;
  &:hover {
    color: aqua;
    transition: 1s ease-in;
  }
  
}
